.best-seller {
   padding-bottom: 5%;

   &__head {
      padding: 4%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 600px) {
         flex-direction: column;
         gap: 2rem;
      }

      div {
         display: flex;
         align-items: center;
         gap: 2rem;
         padding: 0;

         label {
            font-size: 1.8rem;
            font-weight: 500;
         }
      }
   }

   &__prod {
      display: flex;
      align-items: center;

      @media (max-width: 750px) {
         flex-direction: column;
      }

      &--left {
         position: relative;

         &--bg {
            position: absolute;
            width: 60%;
            height: 85%;
            background: linear-gradient(270deg, var(--pink) 2.8%, #ffb2b2 100%);
            border-radius: 0 4rem 4rem 0;
            z-index: -1;
         }

         &--circle {
            position: absolute;
            width: 4.6rem;
            height: 4.6rem;
            border-radius: 50%;
            background: linear-gradient(270deg, #02be83 0%, #b3f6dc 100%);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            div {
               width: 1.3rem;
               height: 1.3rem;
               border-radius: 50%;
               background: white;
            }
         }

         .circle1 {
            top: 27%;
            left: 35%;
         }
         .circle2 {
            top: 50%;
            left: 25%;
         }
         .circle3 {
            top: 45%;
            right: 30%;
         }
      }

      &--right {
         padding: 0 7% 0 5%;
         display: flex;
         flex-direction: column;
         gap: 2rem;

         @media (max-width: 750px) {
            align-items: center;
            padding-bottom: 5%;
            text-align: center;
         }

         &--stars {
            display: flex;
            gap: 3%;
         }

         h4,
         b {
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 3.2rem;
            letter-spacing: -0.04em;
            color: var(--color-pri);
         }

         button {
            background: var(--blue);
         }
      }
   }
}
