$color: #6b6b6b;

.search {
   display: table;
   margin: -1rem;

   input {
      background: none;
      border: none;
      outline: none;
      width: 28px;
      min-width: 0;
      padding: 0;
      z-index: 1;
      position: relative;
      line-height: 18px;
      // margin: 5px 0;
      font-size: 14px;
      -webkit-appearance: none;
      font-family: "Mukta Malar";
      transition: all 0.6s ease;
      cursor: pointer;
      color: $color;

      & + div {
         position: relative;
         // height: 28px;
         width: 100%;
         margin: -2.4rem 0 0 0;

         svg {
            display: block;
            position: absolute;
            height: 24px;
            width: 160px;
            right: 0;
            top: 0;
            fill: none;
            stroke: $color;
            stroke-width: 1.5px;
            stroke-dashoffset: 212.908 + 59;
            stroke-dasharray: 59 212.908;
            transition: all 0.6s ease;
         }
      }
      &:not(:placeholder-shown),
      &:focus {
         width: 150px;
         padding: 0 4px;
         cursor: text;

         @media (max-width: 350px) {
            width: 130px;
         }
         @media (max-width: 335px) {
            width: 110px;
         }
         & + div {
            svg {
               stroke-dasharray: 150 212.908;
               stroke-dashoffset: 300;
            }
         }
      }
   }
}

::selection {
   background: rgba(#fff, 0.2);
}
::-moz-selection {
   background: rgba(#fff, 0.2);
}
