.hero {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--bg-color);
   padding: 0 0 5% 5%;
   position: relative;

   @media (max-width: 750px) {
      flex-direction: column;
      padding: 7%;
   }

   &__left {
      @media (max-width: 750px) {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
      }
      &--title {
         font-size: 7.2rem;
         font-weight: 700;
         color: var(--color-pri);
         line-height: 8rem;
         letter-spacing: -0.04em;

         @media (max-width: 1024px) {
            font-size: 4.8rem;
            line-height: 5.6rem;
         }

         @media (max-width: 750px) {
            text-align: center;
            font-size: 3.2rem;
            line-height: 4rem;
         }
      }

      &--body-text {
         font-weight: 500;
         font-size: 2rem;
         line-height: 3.2rem;
         color: var(--grey);
         width: 55%;
         margin: 3% 0;

         @media (max-width: 1024px) {
            width: 70%;
         }
         @media (max-width: 750px) {
            width: 100%;
            text-align: center;
         }
      }

      &--shop-now {
         display: flex;
         align-items: center;
         gap: 5%;
         margin: 4% 0 8% 0;

         @media (max-width: 750px) {
            gap: 15%;
         }

         button {
            background: var(--pink);
            position: relative;

            &::after {
               position: absolute;
               content: "";
               width: 13.6rem;
               height: 3.6rem;
               background: #fe97b7;
               filter: blur(2.4rem);
               border-radius: 0.8rem;
               left: 50%;
               transform: translate(-50%, 50%);

               @media (max-width: 750px) {
                  top: 15%;
               }
            }
         }

         svg {
            cursor: pointer;

            &:active {
               transform: scale(1.1);
            }
         }
      }

      &--free {
         display: flex;
         gap: 5%;

         @media (max-width: 750px) {
            width: 100%;
            justify-content: center;
            gap: 15%;
         }

         @media (max-width: 400px) {
            display: grid;
            grid-template-rows: 1fr 1fr;
            gap: 2rem;
            justify-content: center;
         }

         &--child {
            display: flex;
            align-items: center;
            gap: 1rem;
         }
      }
   }

   &__right {
      width: 50%;

      @media (max-width: 1024px) {
         width: 70%;
      }

      @media (max-width: 750px) {
         width: 116%;
      }

      &--img {
         overflow: hidden;
         margin-left: -25%;
         box-shadow: 0 0 10rem rgba(#f5f5f5, 0.15);

         @media (max-width: 750px) {
            margin: 0;
         }

         img {
            width: 100%;
            transform: scale(1.5);

            @media (min-width: 1441px) {
               width: 80%;
            }

            @media (max-width: 750px) {
               // position: absolute;
            }
         }

         &--notification {
            position: absolute;
            top: 50%;
            width: 28.9rem;
            height: 7rem;
            background: white;
            border-radius: 3.2rem;
            box-shadow: 0 3rem 2rem rgba(64, 103, 254, 0.15);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;

            @media (max-width: 750px) {
               top: 70%;
               left: 50%;
               transform: translate(-50%, -50%);
               // padding: 2%;
            }

            &--flex {
               display: flex;
               align-items: center;
               justify-content: center;
               gap: 2rem;
               position: relative;

               img {
                  width: 3.5rem;
                  height: 3.5rem;
                  border-radius: 50%;
               }

               &--text {
                  font-weight: 500;
                  font-size: 1.4rem;
                  line-height: 2.4rem;
                  color: var(--grey);

                  b {
                     color: black;
                  }
               }

               &--lock-icon {
                  position: absolute;
                  background: white;
                  width: 3.2rem;
                  height: 3.2rem;
                  border-radius: 50%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  top: -65%;
                  right: 0;
                  box-shadow: 0px 5px 8px rgba(45, 78, 245, 0.1);
                  cursor: pointer;
               }
            }
         }
      }

      &--arrows {
         display: flex;
         gap: 4%;

         @media (max-width: 750px) {
            justify-content: center;
            gap: 2%;
         }

         svg {
            cursor: pointer;
         }
      }
   }
}
