.featured-products {
   padding: 5%;
   position: relative;
   background: rgba(white, 1);
   z-index: 20;

   @media (max-width: 500px) {
      padding-bottom: 20%;
   }

   .title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 500px) {
         justify-content: center;
      }

      .view-all {
         display: flex;
         align-items: center;
         gap: 10%;
         width: 25%;

         @media (max-width: 500px) {
            position: absolute;
            bottom: 2%;
            left: 50%;
            transform: translateX(-50%);
            gap: 5%;
         }

         p {
            font-weight: 600;
            font-size: 2rem;
            color: var(--pink);
         }
      }
   }

   .products {
      display: flex;
      gap: 3%;
      overflow-x: scroll;
      padding: 4% 0;
      margin-top: 3%;

      @media (max-width: 500px) {
         flex-direction: column;
         justify-content: center;
         align-items: center;
         text-align: center;
         margin-top: 7%;
         gap: 5rem;
      }

      &__prod {
         &--img {
            position: relative;

            &--bg {
               position: absolute;
               width: 10rem;
               height: 10rem;
               border-radius: 50%;
               z-index: -1;
               left: 50%;
               top: 0%;
               transform: translateX(-50%);
            }

            .orange {
               background: linear-gradient(
                  270deg,
                  var(--orange) 0%,
                  #ffdebe 100%
               );
            }
            .green {
               background: linear-gradient(
                  270deg,
                  var(--green) 0%,
                  #b3f6dc 100%
               );
            }
            .red {
               background: linear-gradient(
                  270deg,
                  var(--pink) 2.8%,
                  #ffb2b2 100%
               );
            }
            .blue {
               background: linear-gradient(
                  97.49deg,
                  #8aa8f8 -0.43%,
                  var(--blue) 144.53%
               );
            }
         }

         &--stars {
            display: flex;
            gap: 5%;

            @media (max-width: 500px) {
               justify-content: center;
            }
         }

         &--description {
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 3.2rem;
            color: var(--color-pri);
            margin: 5% 0 2% 0;
         }

         b {
            font-weight: 700;
            font-size: 3.2rem;
            line-height: 4rem;
            letter-spacing: -0.04em;
         }
      }

      &::-webkit-scrollbar {
         height: 0.6rem;

         @media (max-width: 500px) {
            display: none;
         }
      }
      &::-webkit-scrollbar-track {
         width: 50rem;
         background-color: #ebebea;
         border-radius: 0.8rem;
         margin: 0 20rem;
      }
      &::-webkit-scrollbar-thumb {
         cursor: pointer;
         background: var(--green);
         border-radius: 0.8rem;
      }
   }
}
