.arrivals {
   &__head {
      padding: 5% 5% 15% 5%;
      display: flex;
      justify-content: space-between;
      background: var(--bg-color);

      @media (max-width: 600px) {
         flex-direction: column;
         text-align: center;
         gap: 3rem;
      }

      &--title {
         display: flex;
         flex-direction: column;
         gap: 2rem;

         @media (max-width: 600px) {
            align-items: center;
         }

         p {
            width: 60%;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: var(--grey);

            @media (max-width: 600px) {
               width: 80%;
            }
         }
      }

      &--view-all {
         display: flex;
         gap: 2rem;
         align-items: center;
         width: 25%;

         @media (max-width: 600px) {
            width: 100%;
            justify-content: center;
         }

         p {
            font-weight: 600;
            font-size: 2rem;
            color: var(--pink);

            @media (max-width: 1024px) {
               font-size: 1.8rem;
            }
            @media (max-width: 600px) {
               font-size: 1.6rem;
            }
         }
      }
   }

   &__cards {
      margin-top: -15%;
      padding: 5%;
      display: grid;
      grid-template-columns: repeat(4, minmax(25rem, 1fr));
      gap: 3%;
      overflow-x: scroll;

      @media (max-width: 500px) {
         grid-template-columns: 1fr;
         overflow: visible;
         padding: 10%;
         padding-bottom: 55%;
      }

      &--card {
         display: flex;
         flex-direction: column;
         gap: 1rem;

         @media (max-width: 500px) {
            align-items: center;
            text-align: center;
         }

         &--img {
            // position: relative;
            border-radius: 2.4rem;
            padding: 0 -5%;
            display: flex;
            flex-direction: column;

            img {
               transform: rotate(-30deg) scale(1.3);
               margin-left: -10%;
            }

            &--num {
               font-weight: 700;
               font-size: 4.8rem;
               letter-spacing: -0.04em;
               color: white;
               margin: 5%;

               @media (max-width: 1024px) {
                  font-size: 3.2rem;
               }
            }

            button {
               background: white;
               border-radius: 1.6rem;
               align-self: flex-end;
               margin: 7%;
               padding: 1% 8%;
               font-size: 2rem;
               color: var(--color-pri);
               font-weight: 600;
            }
         }
         .orange {
            background: linear-gradient(270deg, #fe7831 0%, #ffdebe 100%);
         }
         .green {
            background: linear-gradient(270deg, #02be83 0%, #b3f6dc 100%);
         }
         .red {
            background: linear-gradient(270deg, #ff3c78 2.8%, #ffb2b2 100%);
         }
         .blue {
            background: linear-gradient(
               97.49deg,
               #8aa8f8 -0.43%,
               #315bff 144.53%
            );
         }
         &--stars {
            display: flex;
            gap: 1rem;
         }

         &--description {
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 3.2rem;
            color: var(--color-pri);

            @media (min-width: 1441px) {
               font-size: 2rem;
            }
         }

         &--price {
            font-weight: 700;
            font-size: 3.2rem;
            color: var(--color-pri);
            letter-spacing: -0.04em;
         }
      }

      &::-webkit-scrollbar {
         height: 0.6rem;

         @media (max-width: 500px) {
            display: none;
         }
      }
      &::-webkit-scrollbar-track {
         width: 50rem;
         background-color: #ebebea;
         border-radius: 0.8rem;
         margin: 0 20rem;
      }
      &::-webkit-scrollbar-thumb {
         cursor: pointer;
         background: var(--green);
         border-radius: 0.8rem;
      }
   }
}
